block variables
	title Kaizen
extend ../basetemplate.jade
block content
	include ../modules/header.jade
	.wrapper
		.inner
			include ../modules/blog-interna.jade
			include ../modules/start.jade
			include ../modules/talk.jade
	include ../modules/contact.jade
	include ../modules/footer.jade