.blog.medium.blog-front
	.box-items
		.item
			a(href="").image
				img(src="images/fpo/thumb-blog.jpg", alt="")
			.content
				a(href="").link-title
					h3.title New office in Medellín
				.info
					span.date Enero 10 2016
					span.author Germán Hernández
				p.text Sugar plum apple pie oat cake gummi bears chupa chups. Soufflé dessert cake cotton candy bear claw liquorice dessert. Bear claw oat cake powder gummi bears cotton candy.
				a(href="").see-more-black read article
		.item
			a(href="").image
				img(src="images/fpo/thumb-blog.jpg", alt="")
			.content
				a(href="").link-title
					h3.title New office in Medellín
				.info
					span.date Enero 10 2016
					span.author Germán Hernández
				p.text Sugar plum apple pie oat cake gummi bears chupa chups. Soufflé dessert cake cotton candy bear claw liquorice dessert. Bear claw oat cake powder gummi bears cotton candy.
				a(href="").see-more-black read article
		.item
			a(href="").image
				img(src="images/fpo/thumb-blog.jpg", alt="")
			.content
				a(href="").link-title
					h3.title New office in Medellín
				.info
					span.date Enero 10 2016
					span.author Germán Hernández
				p.text Sugar plum apple pie oat cake gummi bears chupa chups. Soufflé dessert cake cotton candy bear claw liquorice dessert. Bear claw oat cake powder gummi bears cotton candy.
				a(href="").see-more-black read article
		.item
			a(href="").image
				img(src="images/fpo/thumb-blog.jpg", alt="")
			.content
				a(href="").link-title
					h3.title New office in Medellín
				.info
					span.date Enero 10 2016
					span.author Germán Hernández
				p.text Sugar plum apple pie oat cake gummi bears chupa chups. Soufflé dessert cake cotton candy bear claw liquorice dessert. Bear claw oat cake powder gummi bears cotton candy.
				a(href="").see-more-black read article
		.item
			a(href="").image
				img(src="images/fpo/thumb-blog.jpg", alt="")
			.content
				a(href="").link-title
					h3.title New office in Medellín
				.info
					span.date Enero 10 2016
					span.author Germán Hernández
				p.text Sugar plum apple pie oat cake gummi bears chupa chups. Soufflé dessert cake cotton candy bear claw liquorice dessert. Bear claw oat cake powder gummi bears cotton candy.
				a(href="").see-more-black read article
		.item
			a(href="").image
				img(src="images/fpo/thumb-blog.jpg", alt="")
			.content
				a(href="").link-title
					h3.title New office in Medellín
				.info
					span.date Enero 10 2016
					span.author Germán Hernández
				p.text Sugar plum apple pie oat cake gummi bears chupa chups. Soufflé dessert cake cotton candy bear claw liquorice dessert. Bear claw oat cake powder gummi bears cotton candy.
				a(href="").see-more-black read article
		.item
			a(href="").image
				img(src="images/fpo/thumb-blog.jpg", alt="")
			.content
				a(href="").link-title
					h3.title New office in Medellín
				.info
					span.date Enero 10 2016
					span.author Germán Hernández
				p.text Sugar plum apple pie oat cake gummi bears chupa chups. Soufflé dessert cake cotton candy bear claw liquorice dessert. Bear claw oat cake powder gummi bears cotton candy.
				a(href="").see-more-black read article
	.controls
		a(href="").prev prev
		ul.numbers
			li
				a(href="") 1
			li
				a(href="") 2
			li
				a(href="") 3
			li
				a(href="") 4
		a(href="").next next