.blog.detail.medium
	.item
		.wrapper-blog-interna
			h3.title New office in Medellín
			.info
				span.date Enero 10 2016
				span.author Germán Hernández
		p.text Sugar plum apple pie oat cake gummi bears chupa chups. Soufflé dessert cake cotton candy bear claw liquorice dessert. Bear claw oat cake powder gummi bears cotton candy.
		.image.type1
			img(src="images/fpo/thumb-blog.jpg", alt="")
		p.text Sugar plum apple pie oat cake gummi bears chupa chups. Soufflé dessert cake cotton candy bear claw liquorice dessert. Bear claw oat cake powder gummi bears cotton candy.

		p.text Sugar plum apple pie oat cake gummi bears chupa chups. Soufflé dessert cake cotton candy bear claw liquorice dessert. Bear claw oat cake powder gummi bears cotton candy.Soufflé dessert cake cotton candy bear claw liquorice dessert. Bear claw oat cake powder gummi bears cotton candy.Soufflé dessert cake cotton candy bear claw liquorice dessert. Bear claw oat cake powder gummi bears cotton candy.Soufflé dessert cake cotton candy bear claw liquorice dessert. Bear claw oat cake powder gummi bears cotton candy.Soufflé dessert cake cotton candy bear claw liquorice dessert. Bear claw oat cake powder gummi bears cotton candy.
		.wrapper-blog-interna
			.image.type2
				img(src="images/fpo/blog-size.jpg", alt="")
		p.text Sugar plum apple pie oat cake gummi bears chupa chups. Soufflé dessert cake cotton candy bear claw liquorice dessert. Bear claw oat cake powder gummi bears cotton candy.Soufflé dessert cake cotton candy bear claw liquorice dessert. Bear claw oat cake powder gummi bears cotton candy.Soufflé dessert cake cotton candy bear claw liquorice dessert. Bear claw oat cake powder gummi bears cotton candy.Soufflé dessert cake cotton candy bear claw liquorice dessert. Bear claw oat cake powder gummi bears cotton candy.Soufflé dessert cake cotton candy bear claw liquorice dessert. Bear claw oat cake powder gummi bears cotton candy.
		.wrapper-blog-interna
			ul.social
				span.hide-small Share this article
				li.facebook
					a(href="").fa.fa-facebook-official
				li.twitter
					a(href="").fa.fa-twitter
			.profile
				.image
					img(src="images/fpo/-IHevrgD.jpg", alt="")
				.info
					p.name Germán Hernández
					a(href="").link-twitter @muygrafico
					p.possition Graphic Designer
					p.company Kaizen Devs
	.wrapper-blog-interna.hide-small
		.controls
			a(href="").prev PREV ARTICLE
			a(href="").next NEXT ARTICLE
