.collaborators.medium
	h2.title collaborators
	.wrapp-items
		.item
			.image
				img(src="images/fpo/alejandro.jpg", alt="")
			p.name Alejandro Narváez
			a(href="").position Graphic Designer
		.item
			.image
				img(src="images/fpo/camila.jpg", alt="")
			p.name Camila Vargas
			a(href="").position Front-End Developer