.featured-call.medium
	.brand
		img(src="images/misc/home-icon-featured.svg", alt="")
	.text
		h1 We are a technology company that builds digital products aiming to transform, expand and revolutionize the world.
	.wrapp-center
		button.button.btn-1 Start a project
