.featured-works#work
	.item
		.image
			img(src="images/fpo/thumb-vuelteros.jpg", alt="")
			.content
				.top
					p.type web app
					p.name Vuelteros
				.bottom.see-more see more
	.item
		.image
			img(src="images/fpo/thumb-business-hackers.jpg", alt="")
			.content
				.top
					p.type web app
					p.name Vuelteros
				.bottom.see-more see more
	.item
		.image
			img(src="images/fpo/thumb-cien-preguntas.jpg", alt="")
			.content
				.top
					p.type web app
					p.name Vuelteros
				.bottom.see-more see more
	.item.hide-small
		.image
			img(src="images/fpo/thumb-infinanza-desk.jpg", alt="")
			.content
				.top
					p.type web app
					p.name Vuelteros
				.bottom.see-more see more
	.item.hide-small
		.image
			img(src="images/fpo/thumb-ventas-hueco-desk.jpg", alt="")
			.content
				.top
					p.type web app
					p.name Vuelteros
				.bottom.see-more see more
	.item.hide-small
		.image
			img(src="images/fpo/thumb-casa-horizontes-desk.jpg", alt="")
			.content
				.top
					p.type web app
					p.name Vuelteros
				.bottom.see-more see more
	.wrapp-center.hide-medium
		a(href="").see-more.more-works more works