footer
	.content.medium
		.logo
			img(src="images/misc/home-icon-footer.svg", alt="")
		ul.social
			li
				a(href="").fa.fa-facebook
			li
				a(href="").fa.fa-instagram
			li
				a(href="").fa.fa-twitter
.copyright
	.content.medium
		span Copyright 2015 Kaizendevs S.A.S