header.header
	.content.col-sm-12
		a(href="#home").home-icon
		a(href="").action_mobile
			span
		nav.nav
			ul
				li
					a(href="#work") Our Work
				li
					a(href="#team") Team
				li
					a(href="#services-box") Services
				li
					a(href="") Start a project
				li
					a(href="")#contact Contact
				li
					a(href="") Blog