.services.medium#services-box
	h2.title Our services
	ul#services
		li
			.image
				img(src="images/fpo/service-webapp.svg", alt="")
			p.name web apps
			p.text We build mobile applications to make your product available in every environment.
			.see-more.more-works start
		li
			.image
				img(src="images/fpo/service-ecommerce.svg", alt="")
			p.name ecommerce
			p.text We build mobile applications to make your product available in every environment.
			.see-more.more-works start
		li
			.image
				img(src="images/fpo/service-mobile.svg", alt="")
			p.name mobile
			p.text We build mobile applications to make your product available in every environment.
			.see-more.more-works start
		li
			.image
				img(src="images/fpo/service-mvp.svg", alt="")
			p.name mvp
			p.text We build mobile applications to make your product available in every environment.
			.see-more.more-works start
		li
			.image
				img(src="images/fpo/service-product.svg", alt="")
			p.name product prototype
			p.text We build mobile applications to make your product available in every environment.
			.see-more.more-works start