.talk.medium
	.image.hide-small
	.content
		.item
			h2.subtitle talk to us
			.info
				p.phone +57 301 262 35 73
				a(href="mailto:info@kaizendevs.com").mail info@kaizendevs.com
		.item
			h2.subtitle VISIT US
			.info
				p.city Medellín, Colombia
				p.address Calle 8 # 43a-­49
			.info
				p.city Bogotá, Colombia
				.address Cl. 69 # 6-20