.team#team
	.image-team.hide-small
		img(src="images/fpo/team-desk.jpg", alt="")
	.divider
	.content.medium
		.title Team
		p.text We are a multidisciplinary team speaking the same language: code. We share the same passion: building digital products that transform the world.
		.wrapp-center.hide-mobile.more-about-us
			a(href="").see-more.more-works more about us
		.box-members
			.item
				.image
					img(src="images/fpo/team-sebas.jpg", alt="")
				p.name Sebastián Zapata
				a(href="").position Back-End Developer
				ul.social
					li
						a(href="").fa.fa-linkedin-square
					li
						a(href="").fa.fa-facebook-official
					li
						a(href="").fa.fa-instagram
					li
						a(href="").fa.fa-twitter
			.item
				.image
					img(src="images/fpo/team-alejo.jpg", alt="")
				p.name Alejandro Escobar
				a(href="").position Business Administrator
				ul.social
					li
						a(href="").fa.fa-dribbble
					li
						a(href="").fa.fa-twitter
					li
						a(href="")
			.item
				.image
					img(src="images/fpo/team-german.jpg", alt="")
				p.name Germán Hernández
				a(href="").position Graphic Designer
				ul.social
					li
						a(href="").fa.fa-dribbble
					li
						a(href="").fa.fa-behance
					li
						a(href="").fa.fa-instagram
					li
						a(href="").fa.fa-twitter