.technology.medium
	h2.title Technology
	.wrapp-items
		.item
			.image
				img(src="images/fpo/ruby.svg", alt="")
			p.text Ruby
		.item
			.image
				img(src="images/fpo/jquery.svg", alt="")
			p.text jQuery
		.item
			.image
				img(src="images/fpo/rails.svg", alt="")
			p.text Ruby on Rails
		.item
			.image
				img(src="images/fpo/github.svg", alt="")
			p.text Github
		.item
			.image
				img(src="images/fpo/javascript.svg", alt="")
			p.text javascript
		.item
			.image
				img(src="images/fpo/html5.svg", alt="")
			p.text HTML5
		.item
			.image
				img(src="images/fpo/bootstrap.svg", alt="")
			p.text Bootstrap
		.item
			.image
				img(src="images/fpo/css3.svg", alt="")
			p.text CSS3
		.item
			.image
				img(src="images/fpo/postgresql.svg", alt="")
			p.text PostgreSQL
		.item
			.image
				img(src="images/fpo/angular.svg", alt="")
			p.text Angular
		.item
			.image
				img(src="images/fpo/heroku.svg", alt="")
			p.text Heroku
		.item
			.image
				img(src="images/fpo/ionic.svg", alt="")
			p.text Ionic