.testimonials.medium
	h2.title What our clients say
	ul.bx-slider
		li
			blockquote 
				span Kaizen Devs makes your life easier. Always delivers on time with the highest quality. Contact me if you want to know more
				.name Nayib Abdal치
				a(href="").company Business Hackers
		li
			blockquote 
				span Kaizen Devs makes your life easier. Always delivers on time with the highest quality. Contact me if you want to know more
				.name Nayib Abdal치
				a(href="").company Business Hackers
		li
			blockquote 
				span Kaizen Devs makes your life easier. Always delivers on time with the highest quality. Contact me if you want to know more
				.name Nayib Abdal치
				a(href="").company Business Hackers
		li
			blockquote 
				span Kaizen Devs makes your life easier. Always delivers on time with the highest quality. Contact me if you want to know more
				.name Nayib Abdal치
				a(href="").company Business Hackers