.works-detail
	.wrapp-title.medium
		ul.works-slide
			li
				.wrapper-works-interna 
					.title vuelteros
					p.text Sugar plum apple pie oat cake gummi bears chupa chups. Soufflé dessert cake cotton candy bear claw liquorice dessert. Bear claw oat cake powder gummi bears cotton candy.
				img(src="images/fpo/vuelteros-work.jpg", alt="")
			li
				.wrapper-works-interna 
					.title other work
					p.text Sugar plum apple pie oat cake gummi bears chupa chups. Soufflé dessert cake cotton candy bear claw liquorice dessert. Bear claw oat cake powder gummi bears cotton candy.
				img(src="images/fpo/vuelteros-work.jpg", alt="")
		.wrapp-center
			a(href="").button Back
