@import 'variables';

.team {
	.title {
		padding: 20px 0;
		@media screen and (min-width:$break-medium){
			font-size: em(32);
		}
	}
	.more-about-us {
		position: relative;
		bottom: 40px;
	}
	.text {
		font-size: em(14);
		padding:10px em(15);
		text-align: center;
		line-height: 1.3;
		@media screen and (min-width:$break-medium){
			padding-bottom: 60px;
			font-size: em(21);
		}
		@media screen and (min-width:$break-desktop){
			padding-bottom: 70px;
		}
	}
	.image-team {
		padding-bottom: 40px;
		img {
			width: 100%;
		}
	}
	.box-members {
		@media screen and (min-width:$break-medium){
			display: flex;
			.item {
				padding: 0 em(20);
				&:first-child{
					padding-right: 0;
				}
				&:last-child{
					padding-right: 0;
				}
			}
		}
	}
	.item {
		margin-bottom: 20px;
		.image {
			margin-bottom: 20px;
			img{
				width: 100%;
			}
		}
		.position, .name {
			font-size: em(14);
			display: inline-block;
			width: 100%;
			text-align: center;
			@media screen and (min-width:$break-medium){
				font-size: em(16);
			}
		}
		.position {
			font-weight: 800;
			display: inline-block;
			color: $baseColor;
			text-decoration: none;
			margin-bottom: 10px;
			transition: all 0.5s;
			&:hover {
				color: $menuColor;
			}
		}
	}
	.social {
		display: inline-block;
		width: 100%;
		text-align: center;
		li {
			font-size: em(22);
			padding: 0 em(2);
			display: inline-block;
			a {
				display: inherit;
				text-decoration: none;
				color: $baseColor;
				transition: all 0.5s;
				&:hover {
					color: $buttonColor;
				}
			}

		}
	}
}

.collaborators {
	.title {
		text-transform: capitalize;
		@media screen and (min-width:$break-medium){
			font-size: em(32);
			padding-bottom: 20px;
		}
	}
	&.medium {
		text-align: center;
		@media screen and (min-width:$break-medium){
			padding-top: 40px;
			padding-bottom: 90px;
		}
	}
	padding:0 0 30px 0;
	.wrapp-items{
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 25px;
		@media screen and (min-width:$break-medium){
			display: inline-block;
		}
	}
	.item {
		flex: auto;
		@media screen and (min-width:$break-medium){
			float: left;
		}
		.image {
			width: 70px;
			margin: 0 auto;
			padding-bottom: 10px;
			@media screen and (min-width:$break-medium){
				width: 100px;
			}
			img {
				width: 100%;
				border-radius: 100%;
			}
		}
		.name, .position {
			width: 100%;
			display: inline-block;
			text-align: center;
			font-size: em(13);
			margin-bottom: 5px;
			@media screen and (min-width:$break-medium){
				font-size: em(16);
			}

		}

		.position {
			font-weight: 800;
			display: inline-block;
			color: $baseColor;
			text-decoration: none;
			margin-bottom: 10px;
			transition: all 0.5s;
			&:hover {
				color: $menuColor;
			}
		}
	}
}

.wrapp-services {
	background-color: #FAFAFA;
	padding: 40px 0;
}

.services {
	text-align: center;
	background-color: #FAFAFA;
	ul{
		@media screen and (min-width:$break-medium){
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	.bx-wrapper .bx-viewport, .bx-pager {
		background-color: #FAFAFA;
	}
	.image {
		width: 100%;
		display: inline-block;
		text-align: center;
		padding:15px 0;
		@media screen and (min-width:$break-medium){
			height: 100px;
			display: flex;
			img {
				vertical-align: bottom;
			}
		}
		img {
			margin: 0 auto;
		}
	}
	.name {
		font-size: em(15);
		padding: 10px 0;
		font-weight: 800;
		text-transform: uppercase;
		@media screen and (min-width:$break-medium){
			font-size: em(19);
		}
	}
	.text {
		font-size: em(14);
		padding:0 em(20);
		margin-bottom: 5px;
		line-height: 1.3;
	}
	.title {
		@media screen and (min-width:$break-medium){
			font-size: em(32);
			padding-bottom: 60px;
		}
	}
	.bx-controls-direction {
		display: none;
	}
	li {
		@media screen and (min-width:$break-medium){
			width: 33%;
			float: left;
			padding-bottom: 20px;
		}
		@media screen and (min-width:$break-desktop){
			padding: 0 em(50);
		}
	}
}

.wrapp-technology {
	padding-top: 30px;
	@media screen and (min-width:$break-medium){
		padding-top: 60px;
	}
}


.technology {
	.wrapp-items {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding-top: 30px;
		@media screen and (min-width:$break-medium){
			padding: 60px 0;
		}
	}
	.title {
		@media screen and (min-width:$break-medium){
			font-size: em(32);
		}
	}
	.item {
		width: 30%;
		text-align: center;
		@media screen and (min-width:$break-medium){
			width: auto;
			padding: 0 em(10);
			margin-bottom: 20px;
		}
		.image {
			width: 72px;
			height: 52px;
			margin: 0 auto;
			display: inline-block;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			transition: all 0.5s;
			&:hover {
				opacity: .6;
			}
		}
		.text {
			padding: 10px em(22) 10px em(22);
			line-height: 1.2;
			font-size: em(14);
			font-weight: 800;
			@media screen and (min-width:$break-medium){
				font-size: em(16);
			}
		}
	}
}


.start-featured {
	padding: 30px 0;
	@media screen and (min-width:$break-medium){
		padding: 0;
	}
	.item {
		background-image: url("../images/fpo/thumb-business-hackers.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		min-height: 198px;
		background-size: 100%;
		text-align: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		position: relative;
		transition: all 0.5s;
		cursor: pointer;
		@media screen and (min-width:$break-medium){
			min-height: 320px;
		}
		&:hover {
			background-size: 105%;
			.text span {
				background-color: $white;
				color: $baseColor;
				border-bottom: 4px solid rgba($baseColor, .2);
				padding-bottom: 10px;
			}
			&:before {
				background-color: rgba($baseColor, .8);
			}
		}
		&:before {
			content: ""; 
			position: absolute;
			background-color: rgba($baseColor, .6);
			top: 0;
			width: 100%;
			height: 100%;
			display: block;
		}
		.text {
			display: inline-block;
			position: relative;
			z-index: 2;
			span {
				color: $white;
				font-family: $titleFont;
				font-size: em(20);
				border: 4px solid $white;
				padding: 5px em(15);
				display: inline-block;
				transition: all 0.2s;
				@media screen and (min-width:$break-medium){
					font-size: em(36);
					padding: 10px em(15);
				}
			}
		}
	}
}